html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas:"header header header header"
                        "hero hero hero hero"
                        "about about about about"
                        "services services services services"
                        "projects projects projects projects"
                        "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


span{
    font-family: 'Bodoni Moda', serif;
    color: #3acbc8;
    font-weight: 900;
    font-size: 2rem;
}
/*----------------------------------------------------------------*/
















/* header */
.header{
    grid-area: header;
    background-color: #fff;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.3s;
    font-family: 'Bodoni Moda', serif;
    color: #3acbc8;
}

.header a:hover h1{
    color: #6adbd9;
}

/*---------------------------------------------------------------*/












/* hero */
.hero{
    grid-area: hero;
    height: 89vh;
    background: url(../images/emp.jpg) bottom center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.hero .logo{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.hero h2{
    font-weight: 500;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bodoni Moda', serif;

}

.hero span{
    font-size: 2rem;

}

.hero strong{
    font-size: 6rem;
    font-weight: 900;
    color: #6adbd9;
    font-family: 'Roboto', sans-serif;
}

.hero h3{
    font-family: 'Dancing Script', cursive;
    font-size: 2.8rem;
}

.hero:after{
    content: url(../images/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

.hero .logo:hover{
    cursor: default;
}

@keyframes downarrow{
    0%{-webkit-transform: translateY(0); opacity: 0.6;}
    100% {-webkit-transform: translateY(0.5em); opacity: 2;}
}

@keyframes ao{
    0%{opacity: 0.4;}
    100%{opacity: 0.9;}
}

@media(max-width:345px){
    .hero{
        height: 60vh;
    }
}

@media(max-width:540px){
    .hero{
        height: 79vh;
    }

    .hero h2{
        font-size: 4rem;
    }
}

@media(min-width:1000px){
    .hero{
        height: 88vh;
    }

    .hero h2{
        font-size: 5rem;
    }
}

@media(min-height:2340px){
    .hero{
        height: 90vh;
        background-size: cover;
        background-position: center center;
    }

    .hero h2{
        font-weight: 500;
        font-size: 6rem;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Bodoni Moda', serif;
    
    }
    
    .hero span{
        font-size: 4rem;
    
    }
    
    .hero strong{
        font-size: 7rem;
        font-weight: 900;
        color: #6adbd9;
        font-family: 'Roboto', sans-serif;
    }
    
    .hero h3{
        font-family: 'Dancing Script', cursive;
        font-size: 4rem;
    }
    
}

/*---------------------------------------------------------------*/
















/* .about*/
.about{
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    margin: 0 auto;
}

.about .item{
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about .item h3{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 15px;
}

.about .item p{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 15px 0 0;
}

.about .item h4{
    font-weight: 700;
    margin: 30px 0 0;
    font-size: 1.8rem;
}

.about .item h4 span{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about .item .saiba-mais{
    font-size: 1.6rem;
    align-self: flex-start;
    margin-top: 30px;
    
}

.about .item .saiba-mais:hover{
    font-weight: 700;
    text-shadow: 7px 5px 4px rgba(0, 0, 0, 0.3);
    color: #3acbc8;
}

.about .image{
    height: 100%;
    width: 100%;
}

.about .image.right{
    background: url(../images/bridge.jpg) center center no-repeat;
    background-size: cover;
}

.about .image.left{
    background: url(../images/sky.jpg) center center no-repeat;
    background-size: cover;
}

@media(max-width:540px){
    .about .item{
        text-align: center;
    }

    .about{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .about .item .saiba-mais{
        align-self: center;
    }
}

/*----------------------------------------------------------------*/











/* services */
.services{
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.services .service{
    padding: 70px 20px;
    text-align: center;
}

.services .service img{
    width: 300px;
    height: 250px;
    margin-bottom: 30px;
}

.services .service h3{
    font-size: 1.8rem;
    font-weight: 700;
}

.services .service p{
    font-size: 2rem;
    font-weight: 400;
    max-width: 400px;
    margin: 20px auto 0;
    line-height: 25px;
}

.services .service:nth-child(1){
    background-color: peachpuff;
}

.services .service:nth-child(2){
    background-color: rosybrown;
}

@media(max-width:540px){
    .services{
        grid-template-columns: 1fr;
    }
}

/*----------------------------------------------------------------*/













/* projects */
.projects{
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid red; */
}

.projects .project img{
    height: 100%;
    transition: 0.3s ease-in-out;
}

.projects .project a:hover img{
    opacity: 0.7;
}

@media(max-width:760px){
    .projects{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media(max-width:425px){
    .projects{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
}

/*----------------------------------------------------------------*/











/* footer */
.footer{
    grid-area: footer;
    display: flex;
    background-color: #3ACBC8;
    flex-direction: column;
    text-align: center;
    padding: 120px 0;
}

.footer h4{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 900;
    transition: 0.3s;
}

.footer h4:hover{
    color: white;
}

.footer nav{
    margin: 50px 0;
}

.footer nav ul{
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a{
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.3s;
}

.footer nav ul li a:hover{
    font-weight: 700;
    color: #fff;
}

.footer .social i{
    font-size: 2.5rem;
    transition: 0.3s;
}

.footer .social a{
    margin: 20px;
}

.footer .social a:hover{
    color: #fff;

}

.footer .direitos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    margin-top: 100px;
}

.footer .direitos span{
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
}

.footer .direitos a{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    transition: 0.3s;
}

.footer .direitos a:hover{
    color: white;
}
